/* Give buttons more room horizontally */
.viewBtn {
  padding-left: 17px;
  padding-right: 17px;
}

/* Style dropdown menus */
.Select-menu-outer {
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  max-height: 400px;
}
.Select-menu {
  max-height: 398px;
}

/* Clear chart button */
.clearButton {
  color: #d9534f;
}

/* Decrease distance between title and chart. Make separation more distinct. */
.chartTitle {
  margin-bottom: 3px;
  margin-top: 17px;
}
.chartHR {
  margin-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

/* Chart prompt container. All content should be centered horizontally */
.promptRow {
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

/* Prompt text, 'Sorry it broke...' */
.chartPrompt h5 {
  margin-top: 100px;
}

/* Suggestion button prompts should be vertically aligned */
.promptButtons {
  min-height: 350px;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-items: stretch;
}
.promptButtons > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* Sankey Charting */
.sankeyChart {
  min-height: 450px;
}
.node rect {
  shape-rendering: crispEdges;
}
.node rect:hover {
  cursor: pointer;
  fill-opacity: 1
}
.link:hover {
  cursor: pointer;
  stroke-opacity: 0.4;
}

/* Signature */
#signature {
  margin-top: 2px;
}