/* Give buttons more room horizontally */
.btn {
  margin-right: 20px;
}

/* Decrease distance between title and chart. Make separation more distinct. */
.chartTitle {
  margin-bottom: 3px;
  margin-top: 17px;
}
.chartHR {
  margin-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

/* Style dropdown menus */
.Select-menu-outer {
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  max-height: 400px;
}
.Select-menu {
  max-height: 398px;
}

/* Sankey Charting */
.node rect {
  shape-rendering: crispEdges;
}
.node rect:hover {
  cursor: pointer;
  fill-opacity: 1
}
.link:hover {
  cursor: pointer;
  stroke-opacity: 0.4;
}

/* Suggestion button prompts */
.suggestionButtons {
  min-height: 500px;
  display: flex;
  align-items: center;
}
